---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="p-0 m-0 bg-[#ebebeb]">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="p-0 m-0 bg-[#ebebeb]">
		<header class="bg-[#ffe600] h-20 pt-3">
			<div class="columns-3 max-w-[1200px] mx-auto">
				<img
					class="w-[120px] pt-3"
					src="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/6.6.73/mercadolibre/logo_large_25years_v2.png"
					alt="LOGO"
				/>
				<div class="items-center flex">
					<div class="group inline-block absolute top-16
					left-[600px]">
						<a href="#" class="group px-3">Categorias</a>
						<div
							class="left-16 rounded pt-3 w-32 group-hover:block hidden top-8 bg-red-500 absolute"
						>
							<div
								class="absolute rotate-45 -top-1 left-2 bg-red-500 size-4"
							>
							</div>
							<div class="">
								<div class="ml-3 hover:bg-slate-500">
									opcion1
								</div>
								<div class="pt-3 ml-3 hover:bg-slate-500">
									opcion2
								</div>
								<div class="pt-3 ml-3 hover:bg-slate-500">
									opcion2
								</div>
								<div class="pt-3 ml-3 hover:bg-slate-500">
									opcion2
								</div>
								<div class="pt-3 ml-3 hover:bg-slate-500">
									opcion2
								</div>
								<div class="pt-3 ml-3 hover:bg-slate-500">
									opcion2
								</div>
								<div class="pt-3 ml-3 hover:bg-slate-500">
									opcion2
								</div>
								<div class="pt-3 ml-3 hover:bg-slate-500">
									opcion2
								</div>
								<div class="pt-3 ml-3 hover:bg-slate-500">
									opcion2
								</div>
								<div class="pt-3 ml-3 hover:bg-slate-500">
									opcion2
								</div>
								<div class="pt-3 ml-3 hover:bg-slate-500">
									opcion2
								</div>
								<div class="pt-3 ml-3 hover:bg-slate-500">
									opcion2
								</div>
								<div class="pt-3 ml-3 hover:bg-slate-500">
									opcion2
								</div>
								<div class="pt-3 ml-3 hover:bg-slate-500">
									opcion2
								</div>
								<div class="pt-3 ml-3 hover:bg-slate-500">
									opcion2
								</div>
								<div class="pt-3 ml-3 hover:bg-slate-500">
									opcion2
								</div>
								<div class="pt-3 ml-3 hover:bg-slate-500">
									opcion2
								</div>
								<div class="pt-3 ml-3 hover:bg-slate-500">
									opcion2
								</div>
								<div class="pt-3 ml-3 hover:bg-slate-500">
									opcion2
								</div>
								<div class="pt-3 ml-3 hover:bg-slate-500">
									opcion2
								</div>
								<div class="pt-2 pb-2 ml-3 hover:bg-slate-500">
									opcion2
								</div>
							</div>
						</div>
						<div class="inline">
							<a class="m-2" href="">Ofertas</a>
							<a class="m-2" href="">Cupones </a>
							<a class="m-2" href="">Supermercado</a>
							<a class="m-2" href="">Moda</a>
							<a class="m-2" href="">Vender</a>
							<a class="m-2" href="">Ayuda / PQR</a>
						</div>
					</div>
					<input
						class="w-[80%] box-border inline items-center rounded-l-[3px] border-none outline-none h-9 px-[8px] py-[10px]"
						placeholder="Escribe algo y encuentra"
						type="text"
					/>
					<button
						class="inline w-8 border-none bg-white h-9 rounded-r-[3px]"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="size-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
							></path>
						</svg>
					</button>
				</div>
				<div class="group relative inline-block">
					<a href="" class="bg-green-500">Publicidad</a>
				</div>
				<div class="inline-block absolute bottom-[830px] pl-10">
				<a class="px-4" href="#">Crea tu cuenta</a>
				<a class="px-2" href="#">Ingresa</a>
				<a class="px-2" href="#">Mis compras</a>
				<button class="px-2">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="size-6"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
						></path>
					</svg>
				</button>
				</div>
			</div>
		</header>
		<div class="to-60% from-[#ffe600] to-[#ebebeb] h-72 bg-gradient-to-b">
		</div>
		<div class="-mt-20 h-72 flex gap-3 max-w-[1200px] mx-auto">
			<div class="min-w-44 bg-white rounded-md grow">1</div>
			<div class="min-w-44 bg-white rounded-md grow">2</div>
			<div class="min-w-44 bg-white rounded-md grow">3</div>
			<div class="min-w-44 bg-white rounded-md grow">4</div>
			<div class="min-w-44 bg-white rounded-md grow">5</div>
			<div class="min-w-44 bg-white rounded-md grow">6</div>
		</div>
		<div
			class="group items-center transition-colors hover:bg-blue-600 hover:cursor-pointer rounded inline-flex px-4 py-2 text-white bg-blue-500"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="size-6 mr-1 mt-1 group-hover:animate-spin"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
				></path>
			</svg>

			Presioname!
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="size-4 mt-[4px] ml-1"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
			</svg>
		</div>
	</body>
</html>

<style>
	/*html,
	body {
		padding: 0;
		margin: 0;
		background-color: #ebebeb;
	}*/
	/*header {
		background: #ffe600;
		height: 80px;
		padding-top: 12px;
	}*/
	/*header img {
		width: 120px;
		padding-top: 12px;
	}*/
	/*header input {
		width: 80%;
		box-sizing: border-box;
		display: inline;
		padding: 10px 8px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border: none;
		outline: none;
		height: 36px;
	}*/
	/*header button {
		display: inline;
		width: 32px;
		border: none;
		background: white;
		height: 36px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}*/

	/*.input {
		display: flex;
		align-items: center;
	}*/
	/* .banner {
		height: 280px;
		background: linear-gradient(to bottom, #ffe600 70%, #ebebeb 100%);
	} */
	/* .container {
		max-width: 1200px;
		margin: 0 auto;
	} */
	/* .cards {
		margin-top: -80px;
		height: 240px;
		display: flex;
		gap: 10px;
	} */
	/* .card {
		min-width: 180px;
		background-color: #fff;
		border-radius: 6px;
		flex-grow: 1;
	} */
	/*.top-header {
		column-count: 3;
	}*/
</style>
